@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFE5EF;
}

header {
    background-color: #FFC8DD;
}

h1 {
    font-family: 'Kufam', sans-serif;
    font-weight: normal;
    color: #DA417C;
    text-align: center;
    font-size: 60px;
}

a {
    text-decoration: none;
    color: #fff;
}

.doces {
    height: 684px;
}

.btn {
    margin: 1% 0 5% 0;
    border: none;
    outline: none;
    background-color: #DA417C;
    padding: 10px 20px;
    min-width: 150px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #927f867f;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #927f867f;
}

#perfil {
    float: right;
}

#esquerda {
    float: left;
}

#direita {
    float: right;
}

#titulo {
    margin-top: 4%;
}

#princesa {
    display: block;
    margin: 0 auto;
}

#botoes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}