@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
   
* {
    margin: 0px;
    padding: 0px;
}
 
body {
    background-color: #FFE5EF;
}
 
header {
    background-color: #FFC8DD;
}
 
h1, h2 {
    font-family: 'Kufam', sans-serif;
    font-weight: normal;
    color: #DA417C;
    text-align: center;
    font-size: 48px;
}

h3 {
  font-family: 'Kufam', sans-serif;
  color: #DA417C;
  font-weight: normal;
  text-align: center;
  font-size: 25px;
}

.code-explicacao{
  background-color: #db91ad;
  padding: 2px 4px;
  border-radius: 4px;
}
.doces {
    height: 684px;
}
 
#perfil {
    float: right;
}
 
#direita {
    float: right;
}
 
#container-explicação{
  display: flex;
  flex-direction: column;
  background-color: #FFA9CA;
  position: relative;
  text-align: left;
  float: left;
  max-width: 90vh;
  padding: 12vh 6vw;
}
 
#container-explorar p{
  font-size: 26px;
}
 
#notebook{
  position: absolute;
  top: 62vh;
  left: 58vw;
  height: 38vh ;
  width: 28vw;
}    
 

.code-editor {
  margin-top: 50px;
  width: 500px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}
  
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
  
  .title {
    font-family: Kufan, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
  }
 
  
  .editor-content {
    margin-top: 30px;
    margin: 0 10px 10px;
    color: white;
    

  }
 
  
  .property {
    margin-left: 20px;
  }
  
  .property:hover {
    cursor: text;
  }
  
  .editor-content .color-0 {
    color: rgb(86 156 214);
  }
  
  .editor-content .color-1 {
    color: rgb(182 206 168);
    
  }
  
  .editor-content .color-2 {
    color: rgb(156 220 254);
  }
  
  .editor-content .color-3 {
    color: rgb(207 146 120);
  }
  
  .color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
  }
  
  .color-preview-1 {
    background-color: #1d1e22;
  }
  
  .color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
  }


  .input {
    color: #fff;
    font-size: 12px;
    background-color: transparent;
    width: 100px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-border {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    
  }
  
  .input:focus {
    outline: none;
  }
  
 
  .input-alt {
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .input-alt:focus + .input-border-alt {
    width: 100%;
  }

  code p{
    display:flex;
    justify-content: left;
  }
  #container-acao {
    padding-top: 65px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#historia-isabella {
  margin-top: 20px;
  width: 500px;
  background-color: #FFC8DD;
  border-radius: 5px;
  border: 2px solid #DA417C;
}

#historia-isabella p {
  margin: 20px;
}
.btn {
  display: flex;
  align-self: center;
  margin: 1% 0 5% 0;
  border: none;
  outline: none;
  background-color: #DA417C;
  padding: 10px 20px;
  margin-top: 80px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #927f867f;
}

.btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #927f867f;
}
#container-acao {
  padding-top: 65px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



#historia-isabella  {
  margin: 20px;
}
strong {
  font-size: 20px;
  color: #7f294a;
}

.checkbox-wrapper-46-black input[type="checkbox"],
.checkbox-wrapper-46-yellow input[type="checkbox"],
.checkbox-wrapper-46-orange input[type="checkbox"],
.checkbox-wrapper-46-pink input[type="checkbox"],
.checkbox-wrapper-46-red input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46-black .cbx-black,
.checkbox-wrapper-46-yellow .cbx-yellow,
.checkbox-wrapper-46-orange .cbx-orange,
.checkbox-wrapper-46-pink .cbx-pink,
.checkbox-wrapper-46-red .cbx-red {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.checkbox-wrapper-46-black .cbx-black span,
.checkbox-wrapper-46-yellow .cbx-yellow span,
.checkbox-wrapper-46-orange .cbx-orange span,
.checkbox-wrapper-46-pink .cbx-pink span,
.checkbox-wrapper-46-red .cbx-red span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46-black .cbx-black span:first-child,
.checkbox-wrapper-46-yellow .cbx-yellow span:first-child,
.checkbox-wrapper-46-orange .cbx-orange span:first-child,
.checkbox-wrapper-46-pink .cbx-pink span:first-child,
.checkbox-wrapper-46-red .cbx-red span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #7f294a;
  transition: all 0.2s ease;
}

.checkbox-wrapper-46-black .cbx-black span:first-child svg,
.checkbox-wrapper-46-yellow .cbx-yellow span:first-child svg,
.checkbox-wrapper-46-orange .cbx-orange span:first-child svg,
.checkbox-wrapper-46-pink .cbx-pink span:first-child svg,
.checkbox-wrapper-46-red .cbx-red span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46-black .cbx-black span:first-child:before,
.checkbox-wrapper-46-yellow .cbx-yellow span:first-child:before,
.checkbox-wrapper-46-orange .cbx-orange span:first-child:before,
.checkbox-wrapper-46-pink .cbx-pink span:first-child:before,
.checkbox-wrapper-46-red .cbx-red span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background:  #7f294a;
  ;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox-wrapper-46-black .cbx-black span:last-child,
.checkbox-wrapper-46-yellow .cbx-yellow span:last-child,
.checkbox-wrapper-46-orange .cbx-orange span:last-child,
.checkbox-wrapper-46-pink .cbx-pink span:last-child,
.checkbox-wrapper-46-red .cbx-red span:last-child {
  padding-left: 8px;
}

.checkbox-wrapper-46-black .cbx-black:hover span:first-child,
.checkbox-wrapper-46-yellow .cbx-yellow:hover span:first-child,
.checkbox-wrapper-46-orange .cbx-orange:hover span:first-child,
.checkbox-wrapper-46-pink .cbx-pink:hover span:first-child,
.checkbox-wrapper-46-red .cbx-red:hover span:first-child {
  border-color: #7f294a;
}

.checkbox-wrapper-46-black .inp-cbx-black:checked + .cbx-black span:first-child,
.checkbox-wrapper-46-yellow .inp-cbx-yellow:checked + .cbx-yellow span:first-child,
.checkbox-wrapper-46-orange .inp-cbx-orange:checked + .cbx-orange span:first-child,
.checkbox-wrapper-46-pink .inp-cbx-pink:checked + .cbx-pink span:first-child,
.checkbox-wrapper-46-red .inp-cbx-red:checked + .cbx-red span:first-child {
  background: #7f294a;
  border-color: #7f294a;
  animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46-black .inp-cbx-black:checked + .cbx-black span:first-child svg,
.checkbox-wrapper-46-yellow .inp-cbx-yellow:checked + .cbx-yellow span:first-child svg,
.checkbox-wrapper-46-orange .inp-cbx-orange:checked + .cbx-orange span:first-child svg,
.checkbox-wrapper-46-pink .inp-cbx-pink:checked + .cbx-pink span:first-child svg,
.checkbox-wrapper-46-red .inp-cbx-red:checked + .cbx-red span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-46-black .inp-cbx-black:checked + .cbx-black span:first-child:before,
.checkbox-wrapper-46-yellow .inp-cbx-yellow:checked + .cbx-yellow span:first-child:before,
.checkbox-wrapper-46-orange .inp-cbx-orange:checked + .cbx-orange span:first-child:before,
.checkbox-wrapper-46-pink .inp-cbx-pink:checked + .cbx-pink span:first-child:before,
.checkbox-wrapper-46-red .inp-cbx-red:checked + .cbx-red span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.modal{
  margin: auto;
  border: solid #bb3669;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
}
.btn {
  display: flex;
  align-self: center;
  margin: 1% 0 5% 0;
  border: none;
  outline: none;
  background-color: #DA417C;
  padding: 10px 20px;
  margin-top: 80px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #927f867f;
}

.btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #927f867f;
}