@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFE5EF;
}

header {
    background-color: #FFC8DD;
}

h1 {
    font-family: 'Kufam', sans-serif;
    font-weight: normal;
    color: #DA417C;
    text-align: center;
    font-size: 60px;
}

.title {
    font-family: Kufan, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.doces {
    height: 650px;
}

#perfil {
    float: right;
}

#direita {
    float: right;
}

.centralizar {
    display: block;
    margin: 0 auto;
}

.centralizar-top {
    margin-top: 4.4%;
}

.centralizar-saia {
    margin-top: 6.9%;
}

#top-img {
    position: absolute;
    top: 275px;
    right: 464px;
    width: 90px;
}

#saia-img {
    position: absolute;
    top: 295px;
    right: 395px;
    width: 230px;
}

.btn {
    display: flex;
    align-self: center;
    margin: 1% 0 5% 0;
    border: none;
    outline: none;
    background-color: #DA417C;
    padding: 10px 20px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #927f867f;
}

.btn:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #927f867f;
}

.um {
    background: radial-gradient( 100% 100% at 100% 0%, #2EC0DF 0%, #FF7676 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.dois {
    background: radial-gradient( 100% 100% at 100% 0%, #B32DFF 0%, #FEE085 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.tres {
    background: radial-gradient( 100% 100% at 100% 0%, #43EB54 0%, #E90A0A 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.quatro {
    background: radial-gradient( 100% 100% at 100% 0%, #2D35FF 0%, #72E948 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.cinco {
    background: radial-gradient( 100% 100% at 100% 0%, #9094F4 0%, #ADC15D 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.seis {
    background: radial-gradient( 100% 100% at 100% 0%, #A747D3 0%, #73D8C6 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.sete {
    background: radial-gradient( 100% 100% at 100% 0%, #47D3CB 0%, #F1C1EC 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.oito {
    background: radial-gradient( 100% 100% at 100% 0%, #FF2D5F 0%, #168FFF 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.nove {
    background: radial-gradient( 100% 100% at 100% 0%, #E7A372 0%, #79F9B4 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
}

.sumir {
    display: none;
}

.quadro-botoes {
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto auto;
    margin: 2% 2%;
}

.tudo {
    display: flex;
    justify-content: center;
}

#container-explicação{
    display: flex;
    flex-direction: column;
    background-color: #FFA9CA;
    position: relative;
    text-align: center;
    float: left;
    max-width: 90vh;
    height: 65vh;
    padding: 12vh 6vw;
}

.code-editor {
    margin-top: 50px;
    max-width: 500px;
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.property {
    margin-left: 20px;
}
  
.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}
  
.editor-content .color-1 {
    color: rgb(182 206 168);
}
  
.editor-content .color-2 {
    color: rgb(156 220 254);
}
  
.editor-content .color-3 {
    color: rgb(207 146 120);
}

.editor-content .color-4 {
    color: rgb(225, 225, 225);
}
  
.color-preview-1,.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}
  
.color-preview-1 {
    background-color: #1d1e22;
}
  
.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}

.input {
    color: #fff;
    font-size: 12px;
    background-color: transparent;
    width: 200px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.input-border {
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
}
  
.input:focus {
    outline: none;
}
   
.input-alt {
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  
  
.input-alt:focus + .input-border-alt {
    width: 100%;
}

p{
    display:flex;
    justify-content: left;
}

.princesa {
    float: right;
}

#princesa {
    margin-top: 100px;
    margin-right: 150px;
}

#top-hex {
    top: 275px;
    right: 364px;
    width: 230px;
}

#saia-hex {
    top: 295px;
    right: 295px;
    width: 230px;
}

.modal{
    margin: auto;
    border: solid #bb3669;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}